
 <div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to MyAgenda!</h1>
        <p id="homeParagraph">MyAgenda is an application dedicated to helping individuals manage their time more efficiently! Sign up for free now!</p>
        <p class="text-center"><%= link_to 'Sign up!',  new_user_path, class: "btn btn-primary" %> <%= link_to 'Log in!',  login_path, class: "btn btn-primary" %> </p>
    </div>
</div>